[project]
name = "vllm-ds-math-inference"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "datasets>=4.4.1",
    "tqdm>=4.67.1",
    "vllm>=0.11.2",
]
